/.apt_generated/
/.apt_generated_tests/
/target/
/.env
/.envHOME
/.envWORK
/src/main/wlp/server.env
.gradle
.classpath
.project
.settings
.DS_Store
.factorypath
/bin
/build
/bundle/couchdb/couchDbData
/bundle/logs
/bundle/recordings
/bundle/insights_credentials
/bundle/tester_credentials
/bundle/kube_deployment
/automated_tests/logs
/automated_tests/couch-data